
   <!-- <app-login></app-login>
<app-show-students></app-show-students>
<app-show-student-by-id></app-show-student-by-id>
<app-registarion></app-registarion>-->
                
   <app-header></app-header>           
               
   <router-outlet></router-outlet>