<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>

<div  class="container"   style="  margin-top: 10px; "  >
<h3 align="center" style="margin-top: 10px;" >Show Students</h3>


<table align="center"  class="table table-sm table-hover table-striped table-bordered"   style="margin-top: 5px; margin-bottom: 10px;  border: solid; border-width: 1px; background-color: rgb(242, 246, 246);">
    <thead>
        <tr class="container text-center">
            <th class="bg-info text-white">StuId</th>
            <th class="bg-info text-white">StuName</th>
            
            <th class="bg-info text-white">gender</th>
            <th class="bg-info text-white">emailId</th>
           <!-- <th class="bg-info text-white">Department</th>-->
           <th class="bg-info text-white" colspan="2">Actions</th>
        </tr>
    </thead><tbody>
<tr *ngFor="let stu of students" class="container text-center">
<td>{{stu.sId}}</td>
<td>{{stu.name|uppercase|gender:stu.gender}}</td>

<td>{{stu.gender|lowercase}}</td>
<td>{{stu.emailId}}</td>
<!--<td>{{stu.dept.deptName|uppercase}}</td>-->
<td><button (click)="editStudent(stu)"><span class="glyphicon glyphicon-pencil"></span></button></td>
            <td><button (click)="deleteStudent(stu)"><span class="glyphicon glyphicon-trash"></span></button></td>



</tr>

</tbody>
</table>
</div>



<div class="modal fade" id="stuModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update STUDENT</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
              <!-- Add the Employee Registration Code Here -->
              


<div align="center" style="background-color: rgb(210, 216, 185);width:400px;  margin-top: 20px; height: 270px;">
   
<table align="center" border="solid" style="border-width: 2px;border-color: black; width: 300px; margin-bottom: 5px;">


    <tbody>
        <!--<tr>
            <td align="right"style="background-color: rgb(184, 222, 210);" class="glyphicon glyphicon-italic input-group-addon input-group"><b>D</b> </td>
            <td align="left" >  <input type="text"  class="form-control"  style="background-color: rgb(214, 222, 226);"   name="stuId"  #stuId="ngModel" [(ngModel)]="student.stuId" required /> </td>
            <p style="color:rgb(255, 0, 0);" *ngIf="stuId.errors?.['required'] && stuId.touched">Enter StuId</p>
        </tr>-->
        <tr>
            <td align="right" style="background-color: rgb(184, 222, 210);"   class="glyphicon glyphicon-user input-group-addon input-group">  </td>
            <td align="left" >  <input type="text" style="background-color: rgb(214, 222, 226);" class="form-control" name="stuName"  [(ngModel)]="student.name" required /> </td>
       
           <!--- #stuName="ngModel" <p style="color:rgb(255, 0, 0);" *ngIf="stuName.errors?.['required'] && stuName.touched">Enter StuName</p> -->
        </tr>
        <tr>
            <td align="right" style="background-color: rgb(184, 222, 210);"  class="glyphicon glyphicon-briefcase input-group-addon input-group">  </td>
            <td align="left">  
              
                <select name="department" [(ngModel)]="student.dept.deptId">
                    <option value="" selected>Select Department</option>
                    <option value="{{dept.deptId}}" *ngFor="let dept of departments">{{dept.deptName}}</option>
                </select>
            </td>
            <!--<p style="color:rgb(255, 0, 0);" *ngIf="department.errors?.['required'] && department.touched">Select Department</p>-->
        </tr>
        <tr>
            <td align="right" style="background-color: rgb(184, 222, 210);" class="input-group-addon input-group" > <b> ♀♂⚲ </b></td>
            <td align="left">  
                <select name="gender"  class="form-control"  [(ngModel)]="student.gender" required   style="background-color: rgb(214, 222, 226);">
                    <option value="" selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
            </td>
            <!--<p style="color:rgb(255, 0, 0);" *ngIf="gender.errors?.['required'] && gender.touched">Select gender</p>  #gender="ngModel"-->
        </tr>
       
       
        <tr>
            <td align="right"   style="background-color: rgb(184, 222, 210);"  class="glyphicon glyphicon-envelope input-group-addon input-group" >  </td>
            <td align="left">  <input type="text" name="emailId"  class="form-control"  [(ngModel)]="student.emailId"required    style="background-color: rgb(214, 222, 226);" /> </td>
           <!-- <p style="color:rgb(255, 0, 0);" *ngIf="emailId.errors?.['required'] && emailId.touched"> Enter Email Id</p></tr>  #emailId="ngModel"-->
        <tr>
            <td align="right"style="background-color: rgb(184, 222, 210);" class=" glyphicon glyphicon-lock  input-group-addon input-group">  </td>
            <td align="left">  <input type="password" name="password"  class="form-control"   [(ngModel)]="student.password" required  readonly minlength="2"  style="background-color: rgb(214, 222, 226);"/> </td>
         <!--   <p style="color:rgb(255, 0, 0);" *ngIf="password.errors?.['required'] && password.touched"> Enter Password </p> #password="ngModel"
            <p style="color:red;" *ngIf="password.errors?.['minlength'] && password.touched">Provide atleast 2 character for Password</p>-->
         </tr>
        
       
    </tbody>
</table>


    

</div>

        </div>

        <div class="modal-footer">
          <button type="button" (click)= "updateStudent()" class="btn btn-primary" data-dismiss="modal">Update Student</button>
        </div>

      </div>

    </div>
  </div>

