<!--<h3> <p class=" container text-center" style=" color: chartreuse;" >   Books works!  </p></h3>-->
<div class="container">
    <div class="row">
        <div class="card col-md-4" *ngFor="let  book of books" style="width:200px; height:400px;   margin: 5px;">
            <img class="card-img-top" src="{{book.imgsrc}}" alt="Card image" style="width:75%; margin-top: 3px;">
            <div class="card-body">
                <h6 class="card-title">{{book.name}}</h6>
                <p class="card-text"> {{book.description}} </p>
                <p class="card-text"><b>Price: </b> ₹{{book.price}}/-</p>
                <p align="right">
                    <button (click)="addToCart(book)" class="btn btn-primary">AddToCart</button>
                </p>
            </div>
        </div>
    </div>