d{
  
    height: 190px;
     width: 330px;
     margin-top: 5%;
     margin-left: 35%;
     border: solid;
     border-color: black;
     border-radius: 5px;
     background-color: rgb(222, 222, 192);
   }
   .pass{
       margin-left: 10px;
   }
   button{
       background-color:rgb(78, 37, 88);
       color:  rgb(184, 196, 215);
       margin-left: 40%;
       border-radius: 30px;
       border-color: rgb(37, 7, 32);
   }
   h3{
       margin-left: 30%;
       color: rgb(24, 81, 63);
   }
   .Id{
       margin-left: 30px;
   }
   .l{
       margin-left: 25px;
   }
   