<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>
<div style=" height: 190px;
width: 350px;
margin-top: 5%;
margin-left: 35%;
border: solid;
border-color: black;
border-radius: 5px;
height: 250px;
background-color: rgb(222, 222, 192);">   
    <form #loginForm="ngForm"  (ngSubmit)="loginSubmit(loginForm.value)">   
    <h3>LOGIN PAGE</h3>
    <div class="input-group"  style="  margin-left: 45px;  width: 250px;">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input class=" form-control"type="Text" placeholder=" Enter Email id" name="emailId"  #emailId="ngModel" ngModel required>
    </div>
    <br>
    <br>
    <div class="input-group"  style="  margin-left: 45px;">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input class="form-control" type="password" placeholder="Enter password"  style="  margin-right: 25px; width: 200px;" name="password"  #password ="ngModel" ngModel required>
    </div>
    <br>
    <br>
    <button > <b>Login</b></button>
    </form>
    </div>
    
 <div align="center">
        <div style="color:red;" *ngIf="emailId.errors?.['required'] && emailId.touched">Enter Email-Id</div>
        <div style="color:red;" *ngIf="password.errors?.['required'] && password.touched">Enter Password</div>
    
        <div style="color:red;" *ngIf="emailId.errors?.['minlength'] && emailId.touched">Provide atleast 2 character for Email-Id</div>
        <div style="color:red;" *ngIf="password.errors?.['minlength'] && password.touched">Provide atleast 2 character for Password</div>
    </div> 