<!--<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>-->
<div align="center" class="container" style="border: solid; border-width: 3px; width: 300px;height: 100px; margin-top: 50px; margin-left: 40% ;background-color: rgb(208, 218, 222);">
   
    <h3 align="center"> Get Student By Id </h3>
<div align="center">
    <label>Enter Student Id  </label>
<input type="number" placeholder="Enter Student Id" [(ngModel)]="stuId" style="background-color: rgb(238, 202, 158); margin-bottom: 10px;">
<br>
<br>
<button (click)="getStudent()" style="color: rgb(16, 3, 41); background-color: rgb(227, 21, 176); border-radius: 20px;"> Get Student</button>
</div>
<br>
<div align="center" *ngIf="student">
    <h4 align="right">Welcome {{student.emailId}}!</h4>
    <table align="center" border="2" style="background-color: rgb(217, 251, 211);margin-right: 20%;"  class="table table-sm table-hover table-striped table-bordered" >
        <thead>
            <tr>
                <th class="bg-info text-white">StuId</th>
                <th class="bg-info text-white">StuName</th>
                <th class="bg-info text-white">Gender</th> 
                <th class="bg-info text-white">EmailId</th>
                <th class="bg-info text-white">Department</th>
            </tr>
        </thead>
        <br>
        <tbody>
            <tr class="container text-center">
                <td>{{student.sId}}</td>
                <td >{{student.name|uppercase|gender:student.gender}}</td>
                <td>{{student.gender|lowercase}}</td>  
                <td>{{student.emailId}}</td>
                <td>{{student.dept |uppercase}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>