

<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>
<div align="center" style="background-color: rgb(210, 216, 185);width:400px; margin-left: 35%; margin-top: 20px; height: 270px;">
    <form #RegisterForm="ngForm"  (ngSubmit)="registerSubmit(RegisterForm.value)">  
    <h4 align="center" style="margin-left: 35px; "> Student Registration</h4>
<table align="center" border="solid" style="border-width: 2px;border-color: black; width: 300px; margin-bottom: 5px;">


    <tbody>
        <!--<tr>
            <td align="right"style="background-color: rgb(184, 222, 210);" class="glyphicon glyphicon-italic input-group-addon input-group"><b>D</b> </td>
            <td align="left" >  <input type="text"  class="form-control"  style="background-color: rgb(214, 222, 226);"   name="stuId"  #stuId="ngModel" [(ngModel)]="student.stuId" required /> </td>
            <p style="color:rgb(255, 0, 0);" *ngIf="stuId.errors?.['required'] && stuId.touched">Enter StuId</p>
        </tr>-->
        <tr>
            <td align="right" style="background-color: rgb(184, 222, 210);"   class="glyphicon glyphicon-user input-group-addon input-group">  </td>
            <td align="left" >  <input type="text" style="background-color: rgb(214, 222, 226);" class="form-control" name="stuName" #stuName="ngModel"  [(ngModel)]="student.name" required /> </td>
       
            <p style="color:rgb(255, 0, 0);" *ngIf="stuName.errors?.['required'] && stuName.touched">Enter StuName</p> </tr>
        <tr>
            <td align="right" style="background-color: rgb(184, 222, 210);"  class="glyphicon glyphicon-briefcase input-group-addon input-group">  </td>
            <td align="left">  
              <!-- <select name="department" #department="ngModel"  class="form-control"   [(ngModel)]="student.stuId" required  style="background-color: rgb(214, 222, 226);">
                    <option value="" selected   >Select Departement</option>
                    <option value="CSE">CSE</option>
                    <option value="ECE">ECE</option>
                    <option value="EEE">EEE</option>
                    <option value="MECh">MECH</option>
                </select>--> 
                <select name="department" [(ngModel)]="student.dept.deptId">
                    <option value="" selected>Select Department</option>
                    <option value="{{dept.deptId}}" *ngFor="let dept of departments">{{dept.deptName}}</option>
                </select>
            </td>
            <!--<p style="color:rgb(255, 0, 0);" *ngIf="department.errors?.['required'] && department.touched">Select Department</p>-->
        </tr>
        <tr>
            <td align="right" style="background-color: rgb(184, 222, 210);" class="input-group-addon input-group" > <b> ♀♂⚲ </b></td>
            <td align="left">  
                <select name="gender" #gender="ngModel"  class="form-control"  [(ngModel)]="student.gender" required   style="background-color: rgb(214, 222, 226);">
                    <option value="" selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
            </td>
            <p style="color:rgb(255, 0, 0);" *ngIf="gender.errors?.['required'] && gender.touched">Select gender</p>
        </tr>
       
       
        <tr>
            <td align="right"   style="background-color: rgb(184, 222, 210);"  class="glyphicon glyphicon-envelope input-group-addon input-group" >  </td>
            <td align="left">  <input type="text" name="emailId"  class="form-control" #emailId="ngModel"  [(ngModel)]="student.emailId"required    style="background-color: rgb(214, 222, 226);" /> </td>
            <p style="color:rgb(255, 0, 0);" *ngIf="emailId.errors?.['required'] && emailId.touched"> Enter Email Id</p></tr>
        <tr>
            <td align="right"style="background-color: rgb(184, 222, 210);" class=" glyphicon glyphicon-lock  input-group-addon input-group">  </td>
            <td align="left">  <input type="password" name="password"  class="form-control" #password="ngModel"   [(ngModel)]="student.password"required  minlength="2"  style="background-color: rgb(214, 222, 226);"/> </td>
            <p style="color:rgb(255, 0, 0);" *ngIf="password.errors?.['required'] && password.touched"> Enter Password </p>
            <p style="color:red;" *ngIf="password.errors?.['minlength'] && password.touched">Provide atleast 8 character for Password</p>
         </tr>
        
       
    </tbody>
</table>
<button  (click)="register()"  style="color: rgb(84, 232, 118);background-color: rgb(88, 94, 214); margin-bottom: 5px; border-radius: 10px;">Register</button>

    </form>

</div>
